<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        {{> footer}}
        
        <img src="./img/RohitJuhi.jpg">
        <p>created by {{name}} </p>
    </body>
    

</html>